doctype html
html
  head
    title= title

    // META
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/stylesheets/style.css')

    // FONT
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Raleway:400,300,600')

    // CSS
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')

    // FAVICON
    // link(rel="icon" type="image/png" href="images/favicon.png")

  body
    block content
    block foot
      #footer
        p &copy; Developed by: Anton Kozlov @ Hex Hack 2017
